<section class="table__section">
  <div class="table__wrapper table-responsive">
    <div class="table__header">
      <h4>Categoria</h4>
      <button type="button" class="btn btn-primary" (click)="regresar()">
        regresar
      </button>
    </div>

    <form autocomplete="off" class="form__wrapper" [formGroup]="miFormulario" (ngSubmit)="guardar()">
      <div class="mb-2">
        <label for="nombre" class="form-label">nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          formControlName="nombre"
        />
        <span class="fs-6 text-danger" *ngIf="campoValido('companyName')">
          Este campo debe ser valido
        </span>
      </div>

      <button type="button" class="btn btn-success" type="submit">
        guardar
      </button>
      <button
        type="button"
        class="btn btn-danger"
        type="button"
        (click)="regresar()"
      >
        cancelar
      </button>
    </form>
  </div>
</section>
